:root {
    --sunglow: #FFCC33;
    --tulip: #E6B82E;
    --lilac: #9d42b9;
    --dodger: #41ADFF;
    --jellybean: #2874ad;
    --persian-red: #d23430;

    --dt-body-bg: #0d2538;
    --dt-content-bg: #0f2d44;
    --dt-title-color: #ffffff;
    --dt-content-color: #ced8de;
    --dt-link-color:  var(--sunglow);
    --dt-link-hover: var(--tulip);
    --lt-body-bg: #fdf6e3;
    --lt-content-bg: #eee8d5;
    --lt-title-color: #111111;
    --lt-content-color: #4e5e64;
    --lt-link-color:  var(--jellybean);
    --lt-link-hover: var(--dodger);

}
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    --body-bg: var(--dt-body-bg);
    --content-bg: var(--dt-content-bg);
    --content-color:  var(--dt-content-color);
	--link-color: var(--dt-link-color);
    --link-hover: var(--dt-link-hover);
    background-color: var(--body-bg);
	color: var(--content-color);
    transition: color .6s,background-color .6s;
}
a, a:visited {
	color: var(--link-color);
}

a:hover, a:focus, a:active {
	color: var(--link-hover);
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}
@import 'components/wave';
@import 'components/dl-logo';